<div class="container accept-body">
    <div class="row align-items-center">
        <div class="col-lg-6">
            <h1>Banking made easy</h1>
            <p>Spend, save and manage your money, all in one place.
            </p>
            <button class="btn kg-btn" type="button"><a href="/">View profile</a></button>
        </div>
        <div class="col-lg-6">
            <img class="kg-img" src="/online-banking.jpg">
        </div>
    </div>
</div>