<% if (friend) { %>
    <div class="invite container">
        <div class="friend-created">
            <h4>Your friend <em>
                    <%= friend%>
                </em> has been added!</h4>
            <button class="btn btn-primary"><a href="/">Transfer Funds</a></button>
            <button class="btn btn-primary"><a href="/">Your Profile</a></button>
        </div>
        <img class="transferImg" src="https://miro.medium.com/max/1000/1*puQOuUgt5AEzYWZh0rFOFg.png" alt="transferimg">
    </div>
    <% } %>